@import "variables";
@import "mixins";

/*
 * Styles for Footer
 */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint-down(medium) {
    flex-direction: column;
    gap: 2rem;
  }

  /*
  Back to Top Button
   */
  &_back {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }

  /*
  Info List with Icons and Links
   */
  &_infos {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: start;
    font-size: 0.75rem;

    @include breakpoint-down(small) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &_info {
    max-width: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}