@import "variables";

.MuiAppBar-root {
  background: transparent !important;
  min-height: 2rem;
  padding: 1rem 0;
  box-shadow: none !important;
}

.menu {
  &_links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  &_button {
    display: flex;
    justify-content: flex-end;
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  letter-spacing: 0.25rem;
  text-transform: uppercase;

  .MuiLink-root {
    color: $off-white;
  }
}
