@import "variables";
@import "mixins";

.projects {
  background-color: rgba($dark-brown, 0.25);
}

.project {
  display: flex;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  width: 200%;

  @include breakpoint-up(xlarge) {
    width: 100%;
  }

  @include breakpoint-down(medium) {
    flex-direction: column;
    width: 100%
  }

  h3 {
    text-transform: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $light-brown;
    }
  }

  .MuiCardMedia-root {
    flex: 0 0 25%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;

    @include breakpoint-up(xlarge) {
      flex: 0 0 33%;
    }
  }

  .MuiCardContent-root {
    flex: 0 0 25%;
    padding: 2rem;
    text-align: left;

    @include breakpoint-up(xlarge) {
      flex: 0 0 33%;
    }

    @include breakpoint-down(medium) {
      padding: 1rem 2rem;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .MuiButton-root {
      width: 50%;

      @include breakpoint-up(xlarge) {
        display: none;
      }

      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }

  &_time {
    opacity: 0.5;
  }

  &_frameworks {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  &_framework {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 4rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }
  }
}

.MuiCard-root {
  margin: 2rem 0;
  border-radius: 1rem !important;
  transition: box-shadow 300ms ease-in-out !important;

  &:hover {
    box-shadow: 0.5rem 0.5rem 1rem rgba($dark-brown, 0.5);
  }
}

.show-more {
  transform: translateX(-25%);

  @include breakpoint-down(medium) {
    transform: translateX(0);
  }
}

.hide {
  display: block;

  @include breakpoint-down(medium) {
    display: none;
  }
}


