#root {
  margin: 0 auto;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #1A0804;
  background-color: #FFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: #FFF;
  text-decoration: none !important;
  transition: font-weight 300ms ease-in-out;
}

a:hover {
  font-weight: 600;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2, h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.plr {
  padding-right: 4rem;
  padding-left: 4rem;
}

.ptb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.list_bullets {
  list-style-type: disc !important;
  padding-left: 1.25rem !important;
}
.list_bullets .MuiListItem-root {
  display: list-item;
}

.hide {
  display: none;
}

.MuiAppBar-root {
  background: transparent !important;
  min-height: 2rem;
  padding: 1rem 0;
  box-shadow: none !important;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.links .MuiLink-root {
  color: #FFF;
}

.projects {
  background-color: rgba(49, 11, 4, 0.25);
}

.project {
  display: flex;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  width: 200%;
}
.project h3 {
  text-transform: none;
  transition: color 300ms ease-in-out;
}
.project h3:hover {
  color: #E88b57;
}
.project .MuiCardMedia-root {
  flex: 0 0 25%;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.project .MuiCardContent-root {
  flex: 0 0 25%;
  padding: 2rem;
  text-align: left;
}
.project_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_content .MuiButton-root {
  width: 50%;
}
.project_time {
  opacity: 0.5;
}
.project_frameworks {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.project_framework {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 4rem;
}
.project_framework img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.MuiCard-root {
  margin: 2rem 0;
  border-radius: 1rem !important;
  transition: box-shadow 300ms ease-in-out !important;
}
.MuiCard-root:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(49, 11, 4, 0.5);
}

.show-more {
  transform: translateX(-25%);
}

.work p {
  margin: 0;
}
.work_time {
  opacity: 0.5;
}
.work_details {
  padding-bottom: 1rem;
}
.work_details h3 {
  text-transform: none;
  margin: 0;
}
.work .MuiTimelineConnector-root {
  background-color: #E88b57;
}

.education {
  background-color: rgba(49, 11, 4, 0.25);
  /*
  Text Descriptions
   */
  /*
  Highlighted Result Description
   */
}
.education p {
  margin: 0;
}
.education_entry {
  display: flex;
  flex-direction: row;
}
.education_text {
  flex: 2;
}
.education_title {
  margin-bottom: 0;
}
.education_details {
  margin: 1rem 0;
}
.education_result {
  flex: 1;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.education_grade {
  font-size: 6rem;
}

/*# sourceMappingURL=style.css.map */
